.mainForm-container{
    margin-top: 10px;
      text-align: center;
      border: 1px solid lightgray;
      width: 335px;
      height: 550px;
      margin-left: 560px;
    }

    .text-p{
        padding: 0px 40px;
        color: rgb(115, 115, 115);
        font-size: 15px;
    }

    .input1{
        margin-top: 10px;
        height: 30px;
        width: 260px;
        padding: 3px 8px;
        font-size: 13px;
      border: 1px solid #dbdbdb;
        background-color: whitesmoke;
      }

      .input2{
        margin-top: 10px;
        height: 30px;
        width: 260px;
        padding: 3px 8px;
        font-size: 13px;
      border: 1px solid #dbdbdb;
      background-color: whitesmoke;

        
      }


    .input3{
        margin-top: 8px;
        height: 30px;
        width: 260px;
        padding: 3px 8px;
        font-size: 13px;
      border: 1px solid #dbdbdb;
      background-color: whitesmoke;

    }  

    .input4{
        margin-top: 8px;
        height: 30px;
        width: 260px;
        padding: 3px 8px;
        font-size: 13px;
      border: 1px solid #dbdbdb;
      background-color: whitesmoke;

    }  
    .text-ptag1{
        font-size: 13px;
        padding: 0px 30px;
        color: rgb(115, 115, 115);
    }
    .text-ptag1 p span{
        color: rgb(0 ,55 , 107);
    }

    .text-ptag2{
        font-size: 13px;
        padding: 0px 30px;
        color: rgb(115, 115, 115);
    }

    .text-ptag2 p span{
        color: rgb(0 ,55 , 107);
    }

    .sign-button{
        height: 33px;
        width: 260px;
        margin-top: 20px;
        border-radius: 9px;
       color: white;
       background-color: rgba(0 ,149,246);
       opacity: 0.7;
       border: none;
    }

    .dontHaveAnAccountDiv{
        text-align: center;
        /* margin-top: 10px; */
      }
